In [47]:
import pandas as pd

In [48]:
df = pd.read_pickle('../data/xg_data_all.pkl')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41443 entries, 0 to 41442
Data columns (total 49 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    41443 non-null  object
 1   EntryType               41443 non-null  int64
 2   ActiveP                 41443 non-null  int64
 3   Double                  41443 non-null  int64
 4   Take                    41443 non-null  int64
 5   BeaverR                 41443 non-null  int64
 6   RaccoonR                41443 non-null  int64
 7   CubeB                   41443 non-null  int64
 8   Position                41443 non-null  object
 9   Doubled_Pos             41443 non-null  object
 10  Doubled_Level           41443 non-null  int64
 11  Doubled_Score           41443 non-null  object
 12  Doubled_Cube            41443 non-null  int64
 13  Doubled_CubePos         41443 non-null  int64
 14  Doubled_Jacoby          41443 non-null  int64
 15  Doubled_Crawford        41443 non-null  int64
 16  Doubled_met             41443 non-null  int64
 17  Doubled_FlagDouble      41443 non-null  int64
 18  Doubled_isBeaver        41443 non-null  int64
 19  Doubled_Eval            41443 non-null  object
 20  Doubled_equB            41443 non-null  float64
 21  Doubled_equDouble       41443 non-null  float64
 22  Doubled_equDrop         41443 non-null  float64
 23  Doubled_LevelRequest    41443 non-null  int64
 24  Doubled_DoubleChoice3   41443 non-null  int64
 25  Doubled_EvalDouble      41443 non-null  object
 26  ErrCube                 41443 non-null  float64
 27  DiceRolled              41443 non-null  object
 28  ErrTake                 41443 non-null  float64
 29  RolloutIndexD           41443 non-null  int64
 30  CompChoiceD             41443 non-null  int64
 31  AnalyzeC                41443 non-null  int64
 32  ErrBeaver               41443 non-null  float64
 33  ErrRaccoon              41443 non-null  float64
 34  AnalyzeCR               41443 non-null  int64
 35  isValid                 41443 non-null  int64
 36  TutorCube               41443 non-null  int64
 37  TutorTake               41443 non-null  int64
 38  ErrTutorCube            41443 non-null  float64
 39  ErrTutorTake            41443 non-null  float64
 40  FlaggedDouble           41443 non-null  bool
 41  CommentCube             41443 non-null  int64
 42  EditedCube              41443 non-null  bool
 43  TimeDelayCube           41443 non-null  bool
 44  TimeDelayCubeDone       41443 non-null  bool
 45  NumberOfAutoDoubleCube  41443 non-null  int64
 46  TimeBot                 41443 non-null  int64
 47  TimeTop                 41443 non-null  int64
 48  Version                 41443 non-null  int64
dtypes: bool(4), float64(9), int64(29), object(7)
memory usage: 14.4+ MB

In [50]:
# remove rows with ActiveP == 0
df = df[df['ActiveP'] != 0]
# remove rows with invalid cube
df = df[df['Doubled_equB'] != 0.0]

In [51]:
df.loc[df['ActiveP'] == -1, 'Position'] = df.loc[df['ActiveP'] == -1, 'Position'].apply(lambda x: [-i for i in x[::-1]])

In [52]:
df['player_pip_count'] = df['Position'].apply(lambda x: sum(p * i for i, p in enumerate(x) if p > 0))
df['opponent_pip_count'] = df['Position'].apply(lambda x: sum(abs(p) * (25 - i) for i, p in enumerate(x) if p < 0))

In [53]:
df.head()

,Name,EntryType,ActiveP,Double,Take,BeaverR,RaccoonR,CubeB,Position,Doubled_Pos,...,CommentCube,EditedCube,TimeDelayCube,TimeDelayCubeDone,NumberOfAutoDoubleCube,TimeBot,TimeTop,Version,player_pip_count,opponent_pip_count
1,Cube,2,-1,0,-1,-1,-1,0,"[0, -2, 0, 0, 0, 0, 5, 0, 3, 0, 0, 0, -4, 5, 0...","(0, -2, 0, 0, 0, 0, 5, 0, 3, 0, 0, 0, -4, 5, 0...",...,-1,False,False,False,0,0,0,30,167,160
2,Cube,2,1,0,-1,-1,-1,0,"(0, -2, 0, 0, 0, 0, 5, 2, 2, 0, 0, 0, -5, 4, 0...","(0, -2, 0, 0, 0, 0, 5, 2, 2, 0, 0, 0, -5, 4, 0...",...,-1,False,False,False,0,0,0,30,160,163
3,Cube,2,-1,0,-1,-1,-1,0,"[0, -2, 0, 0, 0, 2, 3, 2, 1, 0, 0, 0, -4, 5, 0...","(0, -2, 0, 0, 0, 2, 3, 2, 1, 0, 0, 0, -4, 5, 0...",...,-1,False,False,False,0,0,0,30,163,156
4,Cube,2,1,0,-1,-1,-1,0,"(0, -2, 0, 0, 0, 2, 4, 2, 1, 0, 0, 0, -2, 4, 0...","(0, -2, 0, 0, 0, 2, 4, 2, 1, 0, 0, 0, -2, 4, 0...",...,-1,False,False,False,0,0,0,30,156,147
5,Cube,2,-1,0,-1,-1,-1,0,"[0, -2, 0, 0, 0, 3, 3, 2, 1, 2, 0, 0, -4, 2, 0...","(0, -2, 0, 0, 0, 3, 3, 2, 1, 2, 0, 0, -4, 2, 0...",...,-1,False,False,False,0,0,0,30,147,146

In [54]:
df.to_pickle('../data/xg_data_pip.pkl')